Source: justix-common
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-common
Architecture: all
#Pre-Depends: justix-desktop-theme
Depends: ${misc:Depends},language-pack-es,language-pack-es-base,language-pack-gnome-es,language-pack-gnome-es-base,libreoffice-l10n-es
Description: Common justix config
 Common users config for
 Justix.
