Package: justix-external-sources
Version: 20.0.1
Architecture: all
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 27
Pre-Depends: apt-transport-https, curl, ca-certificates, software-properties-common
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: External sources for Justix
 External sources for Justix
