Package: justix-common-utils
Version: 0.1.1
Architecture: all
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 16
Pre-Depends: justix-external-sources, justix-common
Depends: tilix, vim, tree, virtualbox-6.1, docker-ce, docker-compose, vagrant, qemu-kvm, qemu-system-x86, qemu-utils, ubuntu-make, lvm2
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: Common justix tools
 Metapackage for Common tools
 for Justix.
