Source: justix-devel-pack-lite
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-devel-pack-lite
Architecture: any
Pre-Depends: justix-external-sources
Depends: ${shlibs:Depends}, ${misc:Depends}, code, justix-pseint, geany, nodejs, npm
Description: Developement justix pack
 Metapackage for Common Developement tools
 for Justix.
