Source: justix-network-pack
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-network-pack
Architecture: any
Pre-Depends: justix-external-sources
Depends: ${shlibs:Depends}, ${misc:Depends}, nmap, openssh-server, openssh-client, filezilla, google-chrome-stable, net-tools, ethtool
# mininet
Description: Nerworking justix pack
 Metapackage for Commont networking tools
 for Justix.
