Source: justix-profe
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-profe
Architecture: all
Pre-Depends: justix-cicles-meta
Depends: ${misc:Depends}, arpon, clusterssh
Description: Meta for Profe
 Metapackage for Teacher tools
 for Justix.
