Source: check-hostname
Section: misc
Priority: optional
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/sample-package.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/sample-package.git

Package: check-hostname
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
