Source: justix-dam-meta-lite
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-dam-meta-lite
Architecture: all
Pre-Depends: justix-desktop-theme, justix-cicles-meta
Depends: ${misc:Depends}, justix-db-pack-lite, justix-devel-pack-lite, justix-java-pack-lite, ghex
# pandoc, rcs, rcs-blame, subversion, git
Description: Meta for DAM
 Metapackage for DAM Tools
 for Justix.
