[Desktop Entry]
Comment=PSeInt - Editor e intérprete de pseudocódigo
Comment[ca]=PseInt - Editor i intèrpret de pseudocodi
#Encoding=UTF-8
Name=PseInt
Type=Application
Categories=Development;
Icon=/usr/share/icons/pseint.png
Exec=pseint
