Source: justix-java-pack-lite
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-java-pack-lite
Architecture: any
Pre-Depends: justix-external-sources
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre, openjdk-11-jdk, snapd
# gradle, ant, maven
Description: Java justix pack Lite
 Metapackage for Common Java Developement 
 tools for Justix.
