Source: justix-desktop-theme
Section: misc
Priority: optional
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.ieseljust.com

Package: justix-desktop-theme
Architecture: any
Pre-Depends: ubuntu-mate-default-settings
Depends: ${misc:Depends}, gconf2, plank, adapta-gtk-theme, xenlism-wildfire-icon-theme, tilix
Description: Theme for Justix
 Desktop theme configurtion files
 for Justix.
