Package: justix-desktop-theme
Version: 0.17.1
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 7879
Pre-Depends: ubuntu-mate-default-settings
Depends: dconf-gsettings-backend | gsettings-backend, gconf2, plank, adapta-gtk-theme, xenlism-wildfire-icon-theme, tilix
Section: misc
Priority: optional
Homepage: http://www.ieseljust.com
Description: Theme for Justix
 Desktop theme configurtion files
 for Justix.
