Source: justix-common-utils
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-common-utils
Architecture: all
#Pre-Depends: justix-external-sources, justix-common, ubuntu-mate-default-settings
Pre-Depends: justix-external-sources, justix-common
Depends: ${misc:Depends}, tilix, vim, tree, virtualbox-6.1, ubuntu-make, lvm2, python3-pip
# docker-ce, docker-compose, vagrant,qemu-kvm, qemu-system-x86, qemu-utils
Description: Common justix tools
 Metapackage for Common tools
 for Justix.
