Package: justix-devel-pack
Version: 0.0.5
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 9
Pre-Depends: justix-external-sources
Depends: code, justix-pseint, geany, nodejs, npm
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: Developement justix pack
 Metapackage for Common Developement tools
 for Justix.
